.reviews {
	overflow-x: hidden;
}

.reviews__container {
	max-width: 1240px;
	padding-top: 80px;
}

.reviews__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	gap: 50px;
}

.reviews__title {
	font-family: var(--second-family);
	font-size: 48px;
}

.reviews__controls {
	display: flex;
	gap: 16px;
}

.reviews__button--prev,
.reviews__button--next {
	transition: transform var(--transition-time);
}



.reviews__slider {
	overflow: visible;
}

.reviews__track {
	display: flex;
	gap: 20px;
	transition: transform var(--transition-time);
}

.review {
	flex: 0 0 calc((100% - 40px) / 3);
	min-width: 0;
	padding: 28px 32px;
	border: 1px solid #0000001a;
	border-radius: 20px;
	transition:
		filter var(--transition-time),
		opacity var(--transition-time);
}

.review.is-edge {
	filter: blur(4px);
	opacity: var(--opacity-time);
}

.review__rating {
	margin-bottom: 15px;
}

.review__stars-icon {
	display: block;
	transform: translateX(-4px);
}

.review__author {
	margin-bottom: 12px;
	font-size: 20px;
	line-height: 110%;
	display: flex;
	align-items: center;
	gap: 4px;
}

.review__author svg {
	display: block;
}

.review__text {
	font-size: 16px;
	line-height: 138%;
	color: rgba(0, 0, 0, 0.6);
}

