:root {
    --font-family: 'Satoshi', sans-serif;
    --second-family: "Integral CF Bold", sans-serif;
    --third-familt: 'Integral CF heavy', sans-serif;


    /*color*/
    --main-color: #000;
    --second-color: #fff;
    --third-color: rgba(0, 0, 0, 0.6);
    --main-bg-color: #F2F0F1;
    --bg-color: #f0eeed;
    --bg-color-second: #f0f0f0;

    --container-width: 1440px;
    --container-padding: 15px;

    ----transition-time: 0.3s;

}