.footer {
    margin-top: 40px;
    background-color: var(--bg-color);
    height: 500px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 100px;
}
.footer__text {
    max-width: 300px;
}

.footer__flex {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
}

.footer__flex-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__list-link {
    font-weight: 400;
font-size: 16px;
line-height: 119%;
color: rgba(0, 0, 0, 0.6);
}

.footer__end {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__layewrs {
    font-weight: 700;
font-size: 14px;
text-align: right;
color: rgba(0, 0, 0, 0.6);
}